/**
This file will cover all the CSS for the event part of the website.
 */


/* ALL EVENTS STYLE */

/*Two sections of events*/
.eventsGroup {
    background-color: #FFC252;
    border-radius: 3px;
    margin-bottom: 3%;
    padding: 2%;
    box-shadow: 2px 2px 2px #FFC252;
}

/*The events list, either actual or past*/
.eventsList {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

/*A single event, considered as an article*/
.singleEvent {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

/*Graphical properties of a single event*/
.singleEvent img, h3 {
    align-self: center;
    text-align: center;
}

.singleEvent a {
    margin-top: 2%;
}

/*The title of the event*/
.eventsTitle {
    font-style: italic;
}


#upcomingEvents img, #pastEvents img {

    width: 100%;
    height: 100%;
}

h1 {
    margin-top: 2%;
}

/* SINGLE EVENT STYLE */

.eventPresentation {
    display: flex;
    align-items: flex-start;
}

#singleEventTitle {
    text-align: center;
}

#eventDescription {
    height: 485px;
    overflow: auto;
}

.eventInformations
{
    display: flex;
    flex-direction: column;
}

.eventImageAndParticipate
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#participateToEvent
{
    margin-top: 1%;
    margin-bottom: 1%;
}

#backToEvents
{
    margin-top: 1%;
}



@media screen and (max-width: 1280px) {
    .eventPresentation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #eventDescription {
        height: 100%;
    }
}

/* EVENT CREATION */

.createEvent
{
    text-align: center;
}

form
{
    display: flex;
    flex-direction: column;
}

#imagePreview
{
    max-height: 20%;
    max-width: 20%;
}



