
/* BODY AND WRAPPER */
body
{
    font-family: "Roboto", sans-serif;

}

#main-wrapper
{
    border-radius: 2px;
    background-color: white;
    min-height: 100vh;
}


#main-wrapper img
{
    width: 100%;
}

p
{
    text-align: justify;
}

li
{
    color: white
}

.submit-button
{
    background-color: #FFC252;
    color: black;
    border-radius: 0px;
}

.submit-button:hover
{
    background-color: black;
    color: #FFC252;
}


.confirm-button
{
    background-color: lightgreen;
    color: white;
    border-radius: 0px;
}

/*NAVBAR */

.mainNavbar nav
{
    background-color: black;
    width: 100%;
}

#school_logo
{
    margin-right: 1%;
}

.mainNavbar #navbarText a:hover, .eventsDropdown button:hover
{
    color: #FFC252;
}

.mainNavbar #navbarEventDropdown
{
    background-color: black;
}

.mainNavbar #toggle_button
{
    color: white;
}

.mainNavbar #navbarUl ul
{

    display: flex;
    flex-direction: row;
}

.mainNavbar #navbarUl li a, #navbarEventDropdown
{
    justify-content: center;
    color: white;
    align-items: center;
    transition-duration: 0.4s;
}
.mainNavbar #navbarUl li, #navbarEventDropdown
{
    border-right: 1px white groove;
}

a.nav-link.padd {
    padding-left: 10px;
}

.mainNavbar #navbarUl li a:hover, #dropdownMenuButton:hover
{
    background-color:  #FFC252;
    color: black;
}

.mainNavbar #dropdownMenuButton
{
    height: 100%;
    padding-left: 10px;
}

.eventsDropdown
{
    color: white;
}

.mainNavbar #navTitle
{
    color: #FFC252;
    margin-right: 20px;
    margin-left: 20px;
}

/* FOOTER */

footer {
    background-color: black;
    text-align: center;
    color: white;
}

footer a {
    color: white;
    transition-duration: 0.5s;
}

footer a:hover{
    text-decoration: none;
    color: #fcbc50;
}

.facebook:hover {
    color: #3b5998;
    text-decoration: none;
}

.twitter:hover {
    color: #33ccff;
    text-decoration: none;
}

.linkedin:hover {
    color: #1E90FF;
    text-decoration: none;
}


footer ul
{
    list-style-type: none;
}

#boxFooter {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.elementFooter {

    width: 100%;
    padding: 1%;
    margin: auto;
}

.elementFooter:nth-child(1){
    flex:1;
}

.elementFooter:nth-child(2){
    flex:2;
    border-right: 1px solid #fcbc50;
    border-left: 1px solid #fcbc50;
}

.elementFooter:nth-child(3){
    flex:1;
}

.elementFooter:nth-child(1) p, .elementFooter:nth-child(3) p, .elementFooter:nth-child(2) p
{
    text-align: center;
}

@media screen and (max-width: 680px) {
    #boxFooter {
        display: flex;
        flex-direction: column;
    }


    .elementFooter:nth-child(2){
        flex:2;
        border-left: none;
        border-right: none;
        border-top: 1px solid #fcbc50;
        border-bottom: 1px solid #fcbc50;
    }
}

.short-text {
    display: none;
}

@media (max-width: 1490px) {
    .short-text {
        display: inline-block;
    }
    .full-text {
        display: none;
    }
}

.logoFooter {
    max-height: 50px;
    margin: 10px;
}



