#loginForm
{
    display: flex;
    flex-direction: row;
}

#passwordMismatch {
    color: red;
    display: none;
    text-align: center;
}

#passwordMatch{
    color: green;
    display: none;
    text-align: center;
}

#inscriptionButton
{
    margin-top: 1%;
}

form button
{
    background-color: #FFC252 !important;
    border: none !important;
    color: black !important;
}
